{% extends "card/start.html.twig" %}

{% block title %} Deck {% endblock %}

{% block main %}
    <p>Deck showing all cards sorted by suit and value.</p>

    {% for card in cards %}
        <div class="card"> {{ card }} </div>
    {% endfor %}
{% endblock %}