{% extends "card/start.html.twig" %}

{% block title %} Deck Draw {% endblock %}

{% block main %}
    <p>Deck showing n cards drawn.</p>

    {% for card in drawnCards %}
        {% set parts = card|split(',') %}
        <div class="card {{ parts[1] }}"> 
            {{ parts[0] }}
        </div>
    {% endfor %}

    <p>Cards left in deck: {{ cardsLeft }}</p>
{% endblock %}