{% extends "card/start.html.twig" %}

{% block title %} Deck {% endblock %}

{% block main %}
    <p>{{ description }}</p>

    {% for card in cards %}
        {% set parts = card|split(',') %}
        <div class="card {{ parts[1] }}"> 
            {{ parts[0] }}
        </div>
    {% endfor %}
{% endblock %}