{% extends "base.html.twig" %}

{% block title %} Game {% endblock %}

{% block body %}
    <nav class="card-nav">
        <a href="{{ path('game_start') }}">Game</a>
    </nav>

    {% block main %}
        <h3>Dokumentation</h3>

        <h4>Flödesschema (för en spelare)</h4>

        <img width="357" height="522" src="{{ asset('img/player-flow.png') }}" alt="player flowchart">

        <h4>Pseudokodz</h4>

        <p>Ett nytt Game-objekt skapas vid starten av varje nytt spel. Detta objekt skapar i sin tur ett nytt DeckOfCards-objekt och blandar korten. Därefter skapas även två Player-objekt där bank-spelaren skapas sist (och därmed blir den som spelar sist).</p>

        <p>Därefter visas huvudvyn (main) och spelaren ställs inför valet att antingen dra ett kort eller stanna. Drar man ett kort så går spelet till "add"-rutten vilken bara hämtar Game-objectet från sessionen och lägger till ett kort till den aktiva spelaren. Därefter sparas Game i session och redirect:ar till main-vyn.</p>

        <p>Om man istället väljer att stanna så går spelet till "stop"-rutten vilken gör samma som ovan men istället för att lägga till ett kort så ändras den aktiva spelaren till nästa i turordningen.</p>

        <p>Om man kommit till den sista spelaren så innebär det att det är bankens tur. Då körs metoden playBank vilken drar kort tills den lägsta poängen är 17 eller mer. Därefter sätts flaggan gameOver till true varpå spelet räknar ut vem som vann och ersätter knapparna med en restart-knapp.</p>

        <h4>Klassbeskrivning</h4>

        <p>GameController: en egen controller för kortspelet tjugoett för att hantera spelets olika rutter och förhindra att övriga controllers blir alltför röriga.</p>

        <p>Game: den centrala klassen för spelet. Håller koll på kortleken, spelarna och vems tur det är samt om spelet är slut eller inte. Innehåller även en metod för att låta banken spelar när det är dennes tur.</p>

        <p>Player: en instans av spelarklassen skapas för varje deltagare och den håller koll på spelarens namn och vilka kort denna har dragit. Innehåller även ett antal metoder för att beräkna de olika poäng som kan uppnås utifrån vilka kort man dragit (pga att ess kan räknas som 1 eller 14).</p>
    {% endblock %}
{% endblock %}