{% extends "base.html.twig" %}

{% block title %} Game {% endblock %}

{% block body %}
    <nav class="card-nav">
        <a href="{{ path('game_doc') }}">Doc</a>
    </nav>

    {% block main %}
        <h3>Dokumentation</h3>
    {% endblock %}
{% endblock %}