{% extends "base.html.twig" %}

{% block title %}
    <!-- Override title block in base template -->
    Magic number
{% endblock %}

{% block body %}
    <!-- Override body block in base template -->
    <h1>Magic number</h1>
    <p>Welcome to my awesome magical homepage.</p>
    <p>This is the current magic number: {{ number }}</p>
{% endblock %}