{% extends "base.html.twig" %}

{% block title %} Lucky {% endblock %}

{% block body %}
    <img width="500" height="375" src="{{ asset('img/numbers.jpeg') }}" alt="numbers">
    <p class="center">Your magic number is: {{ number }}</p>
{% endblock %}