{% extends "viz/base.html.twig" %}

{% block title %} Viz About {% endblock %}

{% block body %}
    {% block main %}
        <h3 class="center">Om World Metrics</h3>

        <p>Målet med projektet har varit att försöka visa att trots allt elände i världen så blir det ändå stadigt bättre och bättre över tid. För att lyckas med detta har jag valt ut ett antal globala mätvärlden.</p>
        
        <p>Både positiva och negativa. Jag har begränsat det till mätvärden som mäts i procent (med undantag för antalet internetanvändare per 100 invånare) och hållt mig mellan åren 2000 till 2016 för att få en uniform fördelning på årtalen.</p>

        <p>Anledningen till detta är att informationen ska bli lättare att presentera och därmed även att ta till sig. Jag är medveten om att slutresultatet kanske ser ganska simpelt ut men det har ändå varit en del arbete främst med att konfigurera Chart.js samt den bakomliggande databasen.</p>

    {% endblock %}

{% endblock %}
